body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #391dec, #9ac3f1);
}

.formulario {
    background-position: center;
    background-size: cover;
    background-color: lightsteelblue;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin-top: 50px;
    box-shadow: 1px 1px 2px darkblue, 0 0 25px black, 0 0 5px black;
}

h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 15px;
}

input[type="button"] {
    background-color: #391dec;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: red;
}

