body{
    margin: 0px;
    padding: 0px;
    background-color: lightsteelblue;
}

#contenido{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-areas: "info pregunta pregunta contador"
                         "respuestas respuestas  respuestas respuestas"
                         "mesa mesa mesa mesa";
}
#info{
    grid-area: info;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap;
    margin: 1em;
    width: 150px;
    height:200px;
    border-radius: 10%;
    border: 1px solid rgb(39, 45, 214);
    box-shadow: 0 0 30px rgba(30, 21, 206, 0.5);
}
#info p{
    padding: 0.5em;
    margin: 0.5em;
}
#pregunta{
    grid-area: pregunta;
    border: 1px solid black;
    margin-top: 10px;
    padding: 1em;
    background: linear-gradient(to bottom, #2A84F0, #9CC9FD);
    border-radius: 10px;
}

.pregunta-play{
    box-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px red;
}

.pregunta-stop{
    box-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px blue;
}

#rondas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.ronda{
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 1.3em;
}

#rondaActual{
    box-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    background-color: white;
    color: red;
}

#pregunta h3{
    text-align: center;
}

#caja-contador{
    grid-area: contador;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;
    height: 200px;
    margin-right: 15px;
}

#contador{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    color: white;
    background-color: darkblue;
    width: 40%;
    height: 30%;
    padding: 0.5em;
    margin-right: 5px;
}

.contador-play{
    box-shadow: 1px 1px 2px red, 0 0 25px red, 0 0 5px red;
	animation: pulse 1s alternate linear infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.90);
	}

	100% {
		transform: scale(1);
	}
}

#caja-contador button{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: darkblue;
    color: beige;
}

#pantallaRespuestas{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#pantallaRespuestas .respuesta{
    background-color: darkblue;
    color: white;
    border-radius: 8px;
    width: 20%;
    padding: 0.5em;
}

#respuestas{
    grid-area: respuestas;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 0px;
    width: 90%;
}
.respuesta{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.duplicado10{
    width: 30px;
    height: 55px;
    margin: 3px;
}

.duplicadoAll{
    margin: 5px;
    width: 90px;
    height: 130px;
    margin-left: 100px;
    margin-top: 10%;
}

#respuestas .respuesta{
    border: none;
}
#respuestas .respuesta div{
    border: 2px solid lightblue;
    box-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #EEFFFE;
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: linear;
    flex-wrap: wrap;
}

.eliminarBillete{
    color: black;
    font-size: 70px;
    position: absolute;
    bottom: 150px;
    left: 260px;
    border: none;
    background-color: transparent;
}

img[class*="duplicado"]{
    pointer-events: none;
}

#mesa{
    grid-area: mesa;
    width: 90%;
    background-image: url("../img/mesa.png");
    background-size: cover;
    border: 1px solid black;
    padding: 1em;
    margin: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
}

#mesa div{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}
img{
    width: 60px;
    height: 100px;
    margin: 5px;
}

@media (max-width: 769px){
    #pantallaRespuestas .respuesta{
        width: 30%;
        margin-bottom: 5%;
    }
    #respuestas{
        flex-wrap: wrap;
    }
}

#controles{
    display: flex;
    margin: auto;
}

#controles img{
    width: 15px;
    height: 15px;
}

#controles button{
    margin: 2px;
}

