body{
    margin: 0px;
    padding: 0px;
}

#contenido{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "info pregunta pregunta pregunta pregunta contador"
                         "respuestas respuestas respuestas respuestas respuestas respuestas"
                         "respuestas respuestas respuestas respuestas respuestas respuestas"
                         "mesa mesa mesa mesa mesa mesa";
}
#info{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap;
    margin: 1em;
    width: 150px;
    height:200px;
}
#info p{
    padding: 0.5em;
    margin: 0.5em;
}
#pregunta{
    grid-area: pregunta;
    border: 1px solid black;
    margin-top: 10px;
    padding: 1em;
    height: auto;
    background-color: beige;
    border-radius: 10px;
}

#pregunta h3{
    text-align: center;
}

#caja-contador{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;
    height: 200px;
    margin-right: 15px;
}

#contador{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    color: black;
    background-color: red;
    width: 40%;
    height: 30%;
    padding: 0.5em;
    margin-right: 5px;
}

#caja-contador button{
    width: 70px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: darkblue;
    color: beige;
}

#pantallaRespuestas{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#respuestas{
    grid-area: respuestas;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 0px;
}
.respuesta{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    width: 20%;
}

.respuesta p, #pregunta-txt{
    opacity: 0;
}

#respuestas .respuesta{
    border: none;
}
#respuestas .respuesta div{
    border: 2px solid lightblue;
    box-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
    background-color: #EEFFFE;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: linear;
}

/* #respuestas .respuesta div:hover{
    border: 2px solid black;
    box-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
    background-color: rgb(104, 103, 102);
    border-radius: 10px;
    width: 300px;
    height: 200px;
} */

#mesa{
    grid-area: mesa;
    width: 90%;
    background-image: url("../img/mesa.jpg");
    background-size: cover;
    border: 1px solid black;
    padding: 1em;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mesa div{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}
#mesa div img{
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    border: 1px solid black;
}

#mesa div h3{
    color: white;
    margin-top: 0px;
    font-weight: bold
}