
body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.rankings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffeeba;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 95%;
    margin: 20px;
    text-align: center;
}

.facil{
    background-color: lightgreen;
}
.media{
    background-color: orange;
}
.dificil{
    background-color: firebrick;
}

.facil, .media, .dificil{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    height: 90%;
    width: 90%;
}

.tablas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#dificilNombre, #mediaNombre, #facilNombre{
    text-align: left;
}

#dificilDinero, #mediaDinero, #facilDinero{
    text-align: center;
}

button {
    background-color: blue;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.8s ease;
}

.facil, .media, .dificil, h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h2{
    display: flex;
    margin: 5px;
    color: black;
    font-family: garamond;
}

h2 > .letra{
    animation: move 4s infinite ease;
    transform: translate(0, -5px);
}

button:hover {
    background-color: yellow;
    color: black;
}

@media (max-width: 769px){
    .rankings{
        flex-direction: column;
        width: 90%;
        height: 90%;
    }
}

@keyframes move {
    0% {
        transform: translate(0, -5px);
    }

    50% {
        transform: translate(0, 5px);
    }

    100% {
        transform: translate(0, -5px);

    } 
}
.letra:nth-child(1) {animation-delay: 0s;}

.letra:nth-child(2) {animation-delay: 1s;}

.letra:nth-child(3) {animation-delay: 2s;}

.letra:nth-child(4) {animation-delay: 3s;}

.letra:nth-child(5) {animation-delay: 4s;}

.letra:nth-child(6) {animation-delay: 5s;}

.letra:nth-child(7) {animation-delay: 6s;}

#fondo{
    visibility: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}